<!-- include Header -->
<%-include('include/_header')%>
    <!-- /include Header -->

    <!-- Main site -->
    <main id="site-main">
        <div class="container user-container">
            <div class="box-nav d-filex justify-between">
                <a href="/" class="border-shadow">
                    <span class="text-gradient"><i class="fa-solid fa-angle-double-left"></i> All User</span>
                </a>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create new Account</span>
            </div>
        </div>

        <!-- Form Handling -->
        <%-include('include/_user-form')%>
        <!-- /Form Handling -->

    </main>
    <!-- /Main site -->

    <!-- include footer -->
    <%-include('include/_footer')%>
        <!-- /include footer -->